Auckland, {{.DrawDate}} - Official Results.
RELEASE FROM LOTTO NZ
---------------------
OFFICIAL RESULT CERTIFICATE
---------------------------

Draw Number : {{.DrawNumber}}
Draw Date : {{.DrawDate}}
Winning Numbers: {{.WinningNumbers}}

ENDS...

Issued on behalf of:

The Chief Executive
Lotto NZ
Auckland